{% extends 'dcim/device.html' %}

{% block title %} {{ object }} - Device Config {% endblock %}

{% block content %}
    {% comment %} <h2>Device App Tab 1</h2>
    <p>I am some content for the example plugin's device ({{ object.pk }}) detail tab 1.</p> {% endcomment %}
    {% block navigation %}
    <div class="panel panel-default" style="width:100%">
            <div class="panel-heading"><strong>Feature Menu</strong> 
                <a href="{% url 'plugins:download_config:device_status_tab' pk=object.pk %}?tab={{ active_tab }}" class="btn btn-primary">Device Status</a>  
                <a href="{% url 'plugins:download_config:device_running_tab' pk=object.pk %}?tab={{ active_tab }}" class="btn btn-success">Latest Running Config</a>  
                <a href="{% url 'plugins:download_config:device_startup_tab' pk=object.pk %}?tab={{ active_tab }}" class="btn btn-info">Latest Startup Config</a>  
                <a href="{% url 'plugins:download_config:device_history_tab' pk=object.pk  %}?tab={{ active_tab }}" class="btn btn-warning">History Config</a>  
            </div>
        {% comment %} <div id="navigation">
            <table>
                <tr>
                {% for item in compliance_details %}
                    {% if item.compliance %}
                        <td style="background-color: #5cb85c;">
                    {% else %}
                        <td style="background-color: #d9534f;">
                    {% endif %}
                        <a href="#{{ item.rule }}">
                            {{ item.rule }}
                        </a>
                    </td>
                    {% if forloop.counter|divisibleby:"5" %}
                        </tr>
                        <tr>
                    {% endif %}
                {% endfor %}
                </tr>
            </table>
        </div> {% endcomment %}
    </div>
    {% endblock %}


{% endblock %}