{# templates/nautobot_download_config/download_config.html #}
{% extends 'base.html' %}

{% block title %}Download Configs{% endblock %}

{% block buttons %}
    <button>Custom Button</button>
{% endblock %}

{% block content %}
    <h1>Download Configurations</h1>

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color:
        }
    </style>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Tenant</th>
                <th>Type</th>
                <th>Running Config</th>
                <th>Startup Config</th>
            </tr>
        </thead>
        <tbody>
            {% for config in configs %}
                <tr>
                    <td>{{ config.name }}</td>
                    <td>{{ config.status_id }}</td>
                    <td>{{ config.tenant_id }}</td>
                    <td>{{ config.device_type_id	 }}</td>
                    <td>{{ config.custom_field_data.running_config }}</td>
                    <td>{{ config.custom_field_data.startup_config }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}