{% extends 'dcim/device.html' %}

{% block title %} {{ object }} - History Config {% endblock %}

{% block content %}
    {% block navigation %}
    <div class="panel panel-default" style="width:100%">
            <div class="panel-heading"><strong>Feature Menu</strong> 
                <a href="{% url 'plugins:download_config:device_status_tab' pk=object.pk %}?tab={{ active_tab }}" class="btn btn-primary">Device Status</a>  
                <a href="{% url 'plugins:download_config:device_running_tab' pk=object.pk %}?tab={{ active_tab }}" class="btn btn-success">Latest Running Config</a>  
                <a href="{% url 'plugins:download_config:device_startup_tab' pk=object.pk %}?tab={{ active_tab }}" class="btn btn-info">Latest Startup Config</a>  
                {% comment %} <a href="{% url 'plugins:download_config:device_history_tab' %}?tab={{ active_tab }}" class="btn btn-warning">History Config</a>  {% endcomment %}
                <a href="{% url 'plugins:download_config:device_history_tab' pk=object.pk %}?tab={{ active_tab }}" class="btn btn-warning">History Config</a> 
            </div>
    </div>
    {% endblock %}

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color:
        }
    </style>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Running Config</th>
                <th>Startup Config</th>
                <th>Backup Time</th>
            </tr>
        </thead>
        <tbody>
            {% for config in configs %}
                <tr>
                    <td>{{ config.name }}</td>
                    <td>{{ config.status_id }}</td>
                    <td>{{ config.tenant_id }}</td>
                    <td>{{ config.device_type_id	 }}</td>
                    <td>{{ config.custom_field_data.running_config }}</td>
                    <td>{{ config.custom_field_data.startup_config }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}