{% extends 'dcim/device.html' %}

{% block title %} {{ object }} - Startup Config {% endblock %}

{% block content %}
    {% block navigation %}
    <div class="panel panel-default" style="width:100%">
            <div class="panel-heading"><strong>Feature Menu</strong> 
                <a href="{% url 'plugins:download_config:device_status_tab' pk=object.pk %}?tab={{ active_tab }}" class="btn btn-primary">Device Status</a>  
                <a href="{% url 'plugins:download_config:device_running_tab' pk=object.pk %}?tab={{ active_tab }}" class="btn btn-success">Latest Running Config</a>  
                <a href="{% url 'plugins:download_config:device_startup_tab' pk=object.pk %}?tab={{ active_tab }}" class="btn btn-info">Latest Startup Config</a>  
                <a href="{% url 'plugins:download_config:device_history_tab' pk=object.pk  %}?tab={{ active_tab }}" class="btn btn-warning">History Config</a>  
            </div>
    </div>
    {% endblock %}


{% endblock %}