{% extends 'generic/object_detail.html' %} 
{% comment %} {% extends 'dcim/device.html' %} {% endcomment %}
{% load helpers %}
{% block title %} {{ object }} - Device Status {% endblock %}

{% block content %}
    {% comment %} <h2>Device App Tab 1</h2>
    <p>I am some content for the example plugin's device ({{ object.pk }}) detail tab 1.</p> {% endcomment %}
    {% block navigation %}
    <div class="panel panel-default" style="width:100%">
            <div class="panel-heading"><strong>Feature Menu</strong> 
                <a href="{% url 'plugins:download_config:device_status_tab' pk=object.pk %}?tab={{ active_tab }}" class="btn btn-primary">Device Status</a>  
                <a href="{% url 'plugins:download_config:device_running_tab' pk=object.pk %}?tab={{ active_tab }}" class="btn btn-success">Latest Running Config</a>  
                <a href="{% url 'plugins:download_config:device_startup_tab' pk=object.pk %}?tab={{ active_tab }}" class="btn btn-info">Latest Startup Config</a>  
                {% comment %} <a href="{% url 'plugins:download_config:device_history_tab' %}?tab={{ active_tab }}" class="btn btn-warning">History Config</a>   {% endcomment %}
                <a href="{% url 'plugins:download_config:device_history_tab' pk=object.pk %}?tab={{ active_tab }}" class="btn btn-warning">History Config</a> 
            </div>
    </div>
    {% endblock %}

    <table class="table table-hover panel-body attr-table">
        <tbody>
            {% if object.name %}
                <tr>
                    <td>Name</td>
                    <td>
                        <span class="hover_copy">
                            <span id="name_copy">{{ object.name}}</span>
                            <button class="btn btn-inline btn-default hover_copy_button" data-clipboard-target="#name_copy">
                                <span class="mdi mdi-content-copy"></span>
                            </button>
                        </span>
                    </td>
                </tr>
            {% endif %}
            {% comment %} <tr>
                <td>UUID</td>
                <td>
                    <span class="hover_copy">
                        <span id="uuid_copy">{{ object.id }}</span>
                        <button class="btn btn-inline btn-default hover_copy_button" data-clipboard-target="#uuid_copy">
                            <span class="mdi mdi-content-copy"></span>
                        </button>
                    </span>
                </td>
            </tr> {% endcomment %}
            <tr>
                <td>Status</td>
                <td>
                    <span class="hover_copy">
                        {% comment %} <span id="status_copy">{{ object.status }}</span> {% endcomment %}
                        <span id="status_copy">{{ object.status| hyperlinked_object_with_color }}</span>
                        <button class="btn btn-inline btn-default hover_copy_button" data-clipboard-target="#status_copy">
                            <span class="mdi mdi-content-copy"></span>
                        </button>
                    </span>
                </td>
            </tr>
            {% if object.tenant %}
                <tr>
                    <td>Tenant</td>
                    <td>
                        <span class="hover_copy">
                            <span id="tenant_copy">{{ object.tenant| hyperlinked_object }}</span>
                            <button class="btn btn-inline btn-default hover_copy_button" data-clipboard-target="#tenant_copy">
                                <span class="mdi mdi-content-copy"></span>
                            </button>
                        </span>
                    </td>
                </tr>
            {% endif %}
            {% if object.primary_ip4 %}
                <tr>
                    <td>IP Address</td>
                    <td>
                        <span class="hover_copy">
                            <span id="primary_ip4_copy">{{ object.primary_ip4| hyperlinked_object }}</span>
                            <button class="btn btn-inline btn-default hover_copy_button" data-clipboard-target="#primary_ip4_copy">
                                <span class="mdi mdi-content-copy"></span>
                            </button>
                        </span>
                    </td>
                </tr>
            {% endif %}
            {% if object.device_type_id %}
                <tr>
                    <td>Type</td>
                    <td>
                        <span class="hover_copy">
                            <span id="device_type_copy">{{ object.device_type| hyperlinked_object }}</span>
                            <button class="btn btn-inline btn-default hover_copy_button" data-clipboard-target="#device_type_copy">
                                <span class="mdi mdi-content-copy"></span>
                            </button>
                        </span>
                    </td>
                </tr>
            {% endif %}
            {% if object.platform_id %}
                <tr>
                    <td>Platform</td>
                    <td>
                        <span class="hover_copy">
                            <span id="platform_copy">{{ object.platform| hyperlinked_object }}</span>
                            <button class="btn btn-inline btn-default hover_copy_button" data-clipboard-target="#platform_copy">
                                <span class="mdi mdi-content-copy"></span>
                            </button>
                        </span>
                    </td>
                </tr>
            {% endif %}
            {% if object.custom_field_data.is_routing%}
                <tr>
                    <td>With Routing</td>
                    <td>{{ object.custom_field_data.is_routing }}</td>
                </tr>
            {% endif %}
            {% if object.custom_field_data.running_config%}
                <tr>
                    <td>Running Config</td>
                    <td>{{ object.custom_field_data.running_config }}</td>
                </tr>
            {% endif %}
            {% if object.custom_field_data.startup_config%}
                <tr>
                    <td>Startup Config</td>
                    <td>{{ object.custom_field_data.startup_config }}</td>
                </tr>
            {% endif %}
            {% if object.created %}
                <tr>
                    <td>Created</td>
                    <td>{{ object.created }}</td>
                </tr>
            {% endif %}
            {% if object.last_updated %}
                <tr>
                    <td>Updated</td>
                    <td>{{ object.last_updated }}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>


{% endblock %}